<header>
    <div class="container py-3 my-5">
        <div class="d-flex flex-wrap align-items-center border-bottom justify-content-center justify-content-lg-start">
            <a routerLink="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-secondary text-decoration-none">
                <i class="fa fa-firefox"></i>
            </a>
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li>
                    <a routerLink="/" class="nav-link text-secondary">Home</a>
                </li>
                <li>
                    <a routerLink="/add" class="nav-link text-secondary">Product Add</a>
                </li>
            </ul>
        </div>
    </div>
</header>